streamlit==1.59.2
pandas==3.0.3
numpy==1.26.4
joblib==1.5.3
mljar-supervised==1.3.0
rdkit==2025.09.5
openbabel==3.1.1
vina==1.2.7
py3Dmol==2.5.5
biopython==1.87
chembl_webresource_client==0.10.9
scikit-learn==1.9.0
transformers==5.14.1
torch==2.13.0
